<section class="section_area">

    <!-- 僅供參考文案 Start -->
    <div class="info_group info_8_3">
        <p>{{'FINANCIAL.EXCHANGE_RATE_INFO' | translate}}</p>
        <p>{{'FINANCIAL.DATATIME' | translate}}：{{ (dataTime ? dataTime : '--') }}</p>
    </div>
    <!-- 僅供參考文案 End -->

    <!-- 標題 & 匯率表按鈕 Start -->
    <div class="row_single row_bg">
    <div class="content_group content_27 flex_col">
        <div class="content_label">{{'FINANCIAL.CONVERSION_AMOUNT' | translate}}</div>
        <div class="content_27_li flex_row">
            <p class="txt_gray">({{'FINANCIAL.SPOT_EXCHANGE_RATE' | translate}})</p>
            <div class="content_27_btn_group">
                <button class="btn_transparent" (click)="onExchangeRateTableBtnClick()">{{'FINANCIAL.EXCHANGE_RATE_TABLE' | translate}}</button>
                <button class="btn_transparent" (click)="onCurrencySwapBtnClick()">{{'FINANCIAL.CURRENCY_SWAP' | translate}}</button>
            </div>
        </div>
    </div>
    <!-- 標題 & 匯率表按鈕 End -->

    <!-- 兌出幣別 & 兌入幣別 選單 Start -->
        <div class="form_group form_foreign form_foreign_5 flex_col" [ngClass]="{'active_error': (!!checkData.errMsgObj['currency'])}">
            <div class="flex_row foreign_li">
                <div class="flex_col foreign_li_width foreign_li_select">
                    <!-- 未選擇幣別顯示 Start -->
                    <div class="flex_row foreign_li_bg" [ngClass]="{'active_error_sub': (!!checkData.errMsgObj['sellCurrency'])}" (click)="currencyPopOpen('sell')"
                        *ngIf="!chooseSellCurrencyObj['currencyCode'];">
                        <div class="foreign_flag_info flex_col">
                            <div class="national_flag_wrap">
                                <div class="national_flag"></div>
                            </div>
                            <div class="currency_txt_wrap">
                            <div class="currency_txt hidden_text">{{'FINANCIAL.PLEASE_SELECT' | translate}}</div>
                            </div>
                        </div>
                        <div class="flex_row select_i_down_wrap">
                            <div class="select_pop_i_down"></div>
                        </div>
                    </div>
                    <!-- 未選擇幣別顯示 End -->
            
                    <!-- 已選擇幣別顯示 Start -->
                    <div class="flex_row foreign_li_bg" [ngClass]="{'active_error_sub': (!!checkData.errMsgObj['sellCurrency'])}" (click)="currencyPopOpen('sell')"
                        *ngIf="!!chooseSellCurrencyObj['currencyCode'];">
                        <div class="foreign_flag_info flex_col">
                            <div class="national_flag_wrap">
                                <div class="national_flag {{chooseSellCurrencyObj['currencyCode'] | iconFlag}}"></div>
                            </div>
                            <div class="currency_txt_wrap">
                                <div class="currency_txt hidden_text">
                                    {{chooseSellCurrencyObj['currencyCodeShow']}}
                                </div>
                                <div class="currency_txt hidden_text" *ngIf="is_zh_tw">
                                    {{chooseSellCurrencyObj['currencyNameShow']}}
                                </div>
                            </div>
                        </div>
                        <div class="flex_row select_i_down_wrap">
                            <div class="select_pop_i_down"></div>
                        </div>
                    </div>
                    <!-- 已選擇幣別顯示 End -->
            
                    <!-- 兌出金額 Start -->
                    <div class="input_inner_group">
                        <input type="text" class="input_inner txt_bold" pattern="[\d\.\,]" placeholder="0.00" [(ngModel)]="sellCurrencyAmount" maxlength="20" autocomplete="off"
                            disableautocomplete appAmount (uploadSelected)="transOutAmountChange($event)">
                    </div>
                    <!-- 兌出金額 End -->
                </div>
                <div class="i_foreign_trade"></div>
                <div class="flex_col foreign_li_width foreign_li_select">
                    <!-- 未選擇幣別顯示 Start -->
                    <div class="flex_row foreign_li_bg" [ngClass]="{'active_error_sub': (!!checkData.errMsgObj['buyCurrency'])}" (click)="currencyPopOpen('buy')"
                        *ngIf="!chooseBuyCurrencyObj['currencyCode'];">
                        <div class="foreign_flag_info flex_col">
                            <div class="national_flag_wrap">
                                <div class="national_flag"></div>
                            </div>
                            <div class="currency_txt_wrap">
                                <div class="currency_txt hidden_text">{{'FINANCIAL.PLEASE_SELECT' | translate}}</div>
                            </div>
                        </div>
                        <div class="flex_row select_i_down_wrap">
                            <div class="select_pop_i_down"></div>
                        </div>
                    </div>
                    <!-- 未選擇幣別顯示 End -->
            
                    <!-- 已選擇幣別顯示 Start -->
                    <div class="flex_row foreign_li_bg" [ngClass]="{'active_error_sub': (!!checkData.errMsgObj['buyCurrency'])}" (click)="currencyPopOpen('buy')"
                        *ngIf="!!chooseBuyCurrencyObj['currencyCode'];">
                        <div class="foreign_flag_info flex_col">
                            <div class="national_flag_wrap">
                                <div class="national_flag {{chooseBuyCurrencyObj['currencyCode'] | iconFlag}}"></div>
                            </div>
                            <div class="currency_txt_wrap">
                                <div class="currency_txt hidden_text">{{chooseBuyCurrencyObj['currencyCodeShow']}}</div>
                                <div class="currency_txt hidden_text">{{chooseBuyCurrencyObj['currencyNameShow']}}</div>
                            </div>
                        </div>
                        <div class="flex_row select_i_down_wrap">
                            <div class="select_pop_i_down"></div>
                        </div>
                    </div>
                    <!-- 已選擇幣別顯示 End -->

                    <!-- 兌入金額 Start -->
                    <div class="input_inner_group">
                        <input type="text" class="input_inner txt_bold" pattern="[\d\.\,]" placeholder="0.00" [(ngModel)]="buyCurrencyAmount" maxlength="20" autocomplete="off"
                            disableautocomplete appAmount (uploadSelected)="transInAmountChange($event)">
                    </div>
                    <!-- 兌入金額 End -->
                </div>
            </div>
            <div class="form_error">{{checkData.errMsgObj['currency'] | translate}}</div>
        </div>

       
        <!-- 幣別交換按鈕 End -->
    <!-- 兌出幣別 & 兌入幣別 選單 End -->
    </div>
    <div class="row_single row_bg">
    <!-- 外幣換匯試算 Start -->
    <div class="row_single">
        <div class="form_group form_foreign form_foreign_8 flex_col">
            <div class="foreign_8_title">{{'FINANCIAL.CURRENCY_EXCHANGE_CALCULATE' | translate}}</div>
            <!-- 虛線 -->
            <div class="dashed"></div>
            <!-- 虛線 End -->
            <div class="foreign_8_wrap_1 flex_row">
                <div class="foreign_8_w1">
                    <div class="foreign_8_txt">{{chooseSellCurrencyObj['currencyCodeShow']}}</div>
                    <div class="foreign_8_txt">{{chooseSellCurrencyObj['currencyNameShow']}}</div>
                </div>
                <div class="foreign_8_w2"></div>
                <div class="foreign_8_w3">
                    <div class="foreign_8_txt">{{chooseBuyCurrencyObj['currencyCodeShow']}}</div>
                    <div class="foreign_8_txt">{{chooseBuyCurrencyObj['currencyNameShow']}}</div>
                </div>
            </div>
            <div class="foreign_8_wrap_2 flex_row">
                <div class="foreign_8_w1">
                    <div class="foreign_8_txt">1</div>
                </div>
                <div class="foreign_8_w2 flex_row">
                    <div class="i_colon"></div>
                </div>
                <div class="foreign_8_w3">
                    <div class="foreign_8_txt">{{convertRate}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 外幣換匯試算 End -->
    </div>
    <!-- 注意資訊 Start -->
    <app-note [options]="notePopupOption"></app-note>
    <!-- 注意資訊 End -->
</section>