<ng-container *ngIf="showData">
    <ng-container *ngFor="let item of listData">
        <div class="content_group content_invest_1 flex_row" (click)="onSelectDetail(item)">
            <div class="content_invest_1_w1">
                <div class="content_invest_li content_invest_title">
                    {{item.fund}} {{item.fundName}}
                    <div class="flex_row content_invest_1_w2">
                        <div class="select_i_right"></div>
                    </div>
                </div>
                <div class="content_invest_li flex_row">
                    <div class="content_invest_li_p1">{{ 'FUND_PROFIT_LOSS.BUYDATE' | translate }}</div>
                    <div class="content_invest_li_p2">
                        {{ item | objectField: ['buyDate', 'htDate', 'date']}}
                    </div>
                </div>
                <div class="content_invest_li flex_row">
                    <div class="content_invest_li_p1">{{ 'FUND_PROFIT_LOSS.REMUMRATE' | translate }}</div>
                    <div class="content_invest_li_p2">
                        <p fundProfit [data]="item" [type]="'remumRate'"></p>
                    </div>
                </div>
                <div class="content_invest_li invest_li_tag flex_row pad_btm0">
                    <div class="content_invest_li_p1">{{ 'FUND_PROFIT_LOSS.ACCTAMT' | translate }}</div>
                    <div class="content_invest_li_p2_bold_tag">
                        {{ item | objectField: ['acctAmt', 'currencyMoney', (item | fieldCheck: 'acctCcy')]}}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
